<h1><%= @recpe.title %></h1>

<h3>Comments:</h3>

<ul>
  <%# <% @comments.each do |comment| %> %>
    <li>
      <%# <%= comment.body %> %>
    </li>
  <%# <% end %> %>
</ul>

<h3>Ingredients:</h3>
<ul>
  i gave up cuz many to many is too tough....OR IS IT?
</ul>
